div
  //- Navbar
  nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.fixed-top
    div.container-fluid
      router-link.navbar-brand(:to="{name:'Home', hash:'#Hi'}") 逢甲大學黑客社
      button.navbar-toggler(type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation")
        span.navbar-toggler-icon
      div.collapse.navbar-collapse#navbarNav
        div.navbar-nav.d-flex.justify-content-between.w-100
          ul.navbar-nav
            li.nav-item.mx-2
              router-link.nav-link(:to="{name:'Home', hash:'#Intro'}") 介紹
            li.nav-item.mx-2
              router-link.nav-link(:to="{name:'Home', hash:'#Goal'}") 目標
            l.nav-item.mx-2
              router-link.nav-link(:to="{name:'Home', hash:'#Activities'}") 活動
            li.nav-item.dropdown
              a#navbarDropdownMenuLinkAbout.nav-link.dropdown-toggle(href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false") More
              ul.dropdown-menu(aria-labelledby="navbarDropdownMenuLinkAbout")
                li
                  router-link.dropdown-item(:to="{name:'Activity'}") 近期活動
                li
                  router-link.dropdown-item(:to="{name:'Rule'}") 社團規章
                li
                  router-link.dropdown-item(:to="{name:'Partner'}") 合作夥伴
                li
                  router-link.dropdown-item(:to="{name:'History'}") 歷史軌跡
                li
                  router-link.dropdown-item(:to="{name:'Cadre', params:{year:1, cadre: 1}}") 歷屆幹部
          div.navbar-nav
            a.nav-item.btn.btn-outline-primary(target="_block" href="https://join.hackersir.org/join/join" style="font-size: 20px;") Join Us
  //- Main content
  div
  block content